{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>Edit Todo-s</u>
              </p>
  
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                    <form id="id_form_title" action="{% url 'edit_todo' pk=form.instance.pk %}" method="POST">
                      {% csrf_token %}
                        <div class="d-flex flex-row align-items-center">
                          {{form.title}}
                            <div>
                              <input type="hidden" value="{% url 'add_to_do' %}" id="add_to_do">
                              <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
