{% extends "base.html" %}
{% block content %}
<section class="login">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow">
          {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %}  class="{{message.tags}} bar" {% endif %} role="alert">
                  <strong>{{message}}</strong>
              </div>
                {% endfor %}
          {% endif %}
          <div class="card-body">
            <form method="POST" action="{% url 'user_login' %}" enctype='multipart/form-data'>
              {% csrf_token %}
              <input type="email" name="email" class="form-control my-4 py-2" placeholder="Email" />
              <input type="password" name="password" class="form-control my-4 py-2" placeholder="Password" />
              <div class="text-center mt-3">
                <button class="btn btn-primary">Login</button>
                <p class="mt-1">Don't have an account? <a href="{% url 'create_account' %}" class="link-info">Register here</a></p>
                <p class="small my-1 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
              </div>
            </form>
            <hr class="my-4">
            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
          <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
  