*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;  
}

body{
  background: #f0f2f5;
  color: #5f5f5f;
}
a{
  text-decoration: none;
  color: #5f5f5f;
}

.navbar{
  background: #fff;
  
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
}
.nav-profile-img{
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.header_wraper .navbar-toggler:focus{
  box-shadow: none;
}
.header_wraper .nav-item .nav-link, .navbar-brand{
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.header_wraper .nav-item .nav-link:hover, .navbar-brand:hover{
  color: #0275d8;
}
.logo img{
  width: 27px;
  display: block;
  background: #fff;
}
.login-name{
  margin-left: 5px;
}
.card img{
  width: 100%;
  height: 30vh;
  object-fit: contain;
  padding: 4px;
}

.gradient-custom {
/* fallback for old browsers */
background: #ffffff;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.carousel-indicators li {
background-color: #282828;
width: 7px;
height: 7px;
border-radius: 50%;
}

/* Waring Message CSS start */
.bar {
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}
.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
.success {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}
/* Warning Message CSS end */

/* to-do css start */
#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}
/* to-do css end */


.strike-through{
  text-decoration: line-through;
}


/* YOUTUBE SEARCH START */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
/* YOUTUBE SEARCH END */
