{% load static %}
<!-- Nabbar section -->
<header class="header_wraper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% if user.is_authenticated%} {% url 'dashboard' %}{% endif %}">Collaborative Portal for Study</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav list-unstyled">
          {% if user.is_authenticated%}
            <li class="nav-item">
              <a class="navbar-brand logo" href="#" style="display:flex;">
                <img src="{% static 'images/logo.jpg' %}" alt="Avatar Logo" class="rounded-pill logo"> 
                <span class="login-name">{{user.username}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="registration.html">Registration</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>